<h1>Welcome to the Cookbook!</h1>
<ul class="nav nav-pills nav-stacked">
  <li role="presentation"><a href= "/recipes">List all recipes</a></li>
  <li role="presentation"><a href = "/recipes/new">Create a new recipe</a></li>
  <li role="presentation"><a href = "/recipes/destroy">Destroy a recipe</a></li>
  <li role="presentation"><a href = "">Mark a recipe as tested</a></li>
  <li role="presentation"><a href = "">Import recipes from Marmiton</a></li>
</ul>
